
.container {
    padding: 30px 40px; 
}


.avatar {
    width: 48px; /* modif width */
    height: 32px; /* modif height */
    border-radius: 1px; /* modif radius */
  }

  .xdelete {
    cursor: pointer;
    font-size: 22px;
    margin: 5px;
  } 


  @media screen and (max-width: 500px) {
    .container {
      padding: 2px 5px; 
  }
  }