@font-face {
  font-family: "Mont-Heavy";
  src: url('/Mont-HeavyDEMO.otf');
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color:white;
  background-color: #019521;
  }

  .titleContainer {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border:1px solid green;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  .titleButton{
    font-size: 40;
    color: white;
  }

  .icon {
    margin-left: 10px;
  }

  .titleContainer:hover {
    background-color: #2098D1;
  }
  
  .cartContainer {
    display: flex;
    flex-direction: row;
  }

  .cart {
    margin: 0 16px;
    cursor: pointer;
    font-size: 26px;
  }

  .item_total {
    font-size:12px;
    top: 1px;;
    right: 20px;
    width: 15px;
    height: 15px;
    position: relative;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* Popover Cart*/
  
  .emptyCart {
    color :#6d6d6d;
    margin: 10px;
  }