@font-face {
  font-family: "Mont-Heavy";
  src: url('/Mont-HeavyDEMO.otf');
}

.container {
  overflow: hidden;
  padding: 0px 10px; 
  /* height: 50px; */
  color:white;
  background-color: #019521;
  /* position:sticky; */
  /* top:0; */
  /* width: 100%; */
  z-index: 1;
  /* left:0; */
  }
  .headerLeft {
    float:left;
  }
  .headerRight {
    float:right;
    /* border: 2px red solid; */
  }

  .titleContainer {
    float:left;
    display: flex;
    place-items: center;
    justify-content: center;
    padding:0px 20px;
    /* line-height: 25px; */
    /* width: 150px;
    height: 30px; */
    border:1px solid green;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  @media screen and (max-width: 500px) {
    .headerLeft {
      float:none;
    }
    .headerRight {
      float: none;
    }
    .titleContainer {
      float: none;
      /* display: block; */
      place-items: center;
       justify-content: center;
    }
    .cartContainer {
      float:left;
    padding:0px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    border: 2px red solid
    }
    .searchContainer {
      float: none;
      display: block;
      text-align: left;
      padding: 0px;
    }
    
    
  }

  .titleButton{
    font-size: 40;
    color: white;
  }

  .icon {
    margin-left: 10px;
  }

  .titleContainer:hover {
    background-color: #2098D1;
  }

  .searchContainer{
    float:left;
    padding: 5px 0px; 
    
  }
  
  .cartContainer {
    float:left;
    padding:5px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    border: 2px red solid

  }

  .cart {
    margin: 0 10px;
    cursor: pointer;
    font-size: 26px;
  }

  .item_total {
    font-size:12px;
    top: 1px;;
    right: 20px;
    width: 15px;
    height: 15px;
    position: relative;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* Popover Cart*/
  
  .yourCart {
    padding: 10px 12px 0 12px;
    color: #858585;
    text-align: center;
  }
  
  .image {
    height: 40px;
    padding: 4px;
  }
  
  .popoverContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: #b8b8b8 1px solid;
  }
  
  .popover {
    margin: 8px 4px;
    padding: 10px 12px 0 12px;
    display: flex;
  }
  
  .popoverText {
    margin-left: 14px;
  }
  
  .emptyCart {
    color :#6d6d6d;
    margin: 10px;
  }
  
  .brand {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: -14px;
  }
  
  .model {
    font-size: 12px;
    margin-bottom: -14px;
  }
  
  .price {
    font-size: 12px;
  }
  
  .xIcon {
    cursor: pointer;
    font-size: 22px;
    margin: 20px 10px 0px 0px;
  }
  .xIcon:hover {
    color: #b9b9b9;
  }
  
  .popoverLast {
    padding: 10px 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .button {
    background-color: #151515;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0 0 0 10px;
    outline: none;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .button:hover {
    background-color: #b9b9b9;
  
  }