@font-face {
    font-family: "Mont-Heavy";
    src: url('/Mont-HeavyDEMO.otf');
}
.container {
  display: flex;
  align-items: center;
  padding:5px 0px 30px Opx;
  }

.searchBar {
    border-radius: 4px 0 0 4px;
    border: 0px;
    padding: 7px 20px;
    font-size: 16px;
    /* width: 60%; */
    height: 100%;
  }
  .searchBar:focus {
    outline: none;
    background-color: rgb(224, 224, 224);
  }
  
  .searchIcon {
    width: 10%;
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 8px 10px; 
    border-radius: 0 4px 4px 0;
    transition-duration: 0.5s;

  }
  .searchIcon:hover {
    background-color: #2098D1;
    color: white;
  }

 
  
  