@font-face {
    font-family: "Mont-Heavy";
    src: url('/Mont-HeavyDEMO.otf');
  }

.logoContainer {
  padding:5px ;
  display: flex;
  flex-direction: row;
  /* border: 2px red solid; */
}

.logo {
  cursor:pointer;
}
